@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
	font-family: 'Unbounded', sans-serif;
}

$font-thin: 300;
$font-normal: 400;
$font-bold: 700;

$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;

@mixin text-style($weight, $size) {
	font-weight: $weight;
	font-size: $size;
}

.text-sm {
	@include text-style($font-normal, $font-small);
}

.text-md {
	@include text-style($font-normal, $font-medium);
}

.text-lg {
	@include text-style($font-normal, $font-large);
}

.text-bold {
	@include text-style($font-bold, $font-medium);
}
